.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card {
  position: absolute;

}

.img-glasses {
  position: relative;
  bottom: 113px;
  right: 25px;
  opacity: 0.8;
  top: 6rem;
}

.img-jpg {
  margin-top: 120px;
  width: 100px;
  height: 100px;
}

.button-img {
  bottom: -25rem;
}

.img1 {
  position: relative;
}

.img2 {
  position: absolute;
  top: 25%;
  left: 24%;
  width: 150px;
  height: 50px;
  opacity: 0.9;
}